{% extends 'base.html.twig' %}
{% block title %}Inicio - AppSoga{% endblock %}
{% block body %}
    {% include('menu.html.twig') %}
    {#<main class="site-main">#}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1 style="text-align: center;">Contáctenos</h1>
                <p>En <strong>SOGA APP</strong> es de vital importancia la comunicación con nuestros clientes, en esta sección podrá encontrar 3 métodos de acercamiento con los cuales
                    interactuar con el equipo de soporte de nuestra compañía, quienes através de una comunicación acertiva y excelente servicio al cliente, le apoyará y le brindará una
                    asesoría pertinente.</p>
            </div>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>

            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    {#</main>#}
    {% include('pie.html.twig') %}
{% endblock %}