{% extends 'base.html.twig' %}
{% block title %}Acceso - AppSoga{% endblock %}
{% block body %}
    {% include('menu.html.twig') %}
    <div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1 style="text-align: center;">Acceso a clientes</h1>
            <p>Acceda a través del portal que corresponde a su empresa, pulsando en el botón de Acceso.</p>
        </div>
        <hr>
        <div class="row animatedParent" style="float: left;">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <div class="card animated bounceInDown">
                        <img src="/helio/public/img/clientes/coordinar.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Coordinar Seguridad</b></h4>
                            <p>Empresa especializada en Seguridad privada</p>
                        </div>
                        <div class="card_foot">
                            {#<button class="btn btn-default">ACCESO</button>#}
                            <a href="http://coordinar.appsoga.com" class="btn btn-default"
                               style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"
                               target="_blank">ACCESO</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card slow animated bounceInDown">
                        <img src="/helio/public/img/clientes/1tec.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>1Tec Seguridad</b></h4>
                            <p>Tecnología - Estrategia - Gestión.</p>
                        </div>
                        <div class="card_foot">
                            <a href="http://1teg.appsoga.com" class="btn btn-default"
                               style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"
                               target="_blank">ACCESO</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card slower animated bounceInDown">
                        <img src="/helio/public/img/clientes/ole.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Ole Movilidad</b></h4>
                            <p>Soluciones inteligentes en movilidad.</p>
                        </div>
                        <div class="card_foot">
                            <a href="http://ole.appsoga.com" class="btn btn-default"
                               style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"
                               target="_blank">ACCESO</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card slowest animated bounceInDown">
                        <img src="/helio/public/img/clientes/serviconi.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Serviconi</b></h4>
                            <p>Servicios privados de Seguridad y Vigilancia.</p>
                        </div>
                        <div class="card_foot">
                            <a href="http://serviconi.appsoga.com" class="btn btn-default"
                               style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"
                               target="_blank">ACCESO</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card slow animated bounceInDown">
                        <img src="/helio/public/img/clientes/dorchester.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Dorchester Seguridad</b></h4>
                            <p>***</p>
                        </div>
                        <div class="card_foot">
                            <a href="http://dorchester.appsoga.com" class="btn btn-default"
                               style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"
                               target="_blank">ACCESO</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card slower animated bounceInDown">
                        <img src="/helio/public/img/clientes/eurovic.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Seguridad Eurovic de Colombia</b></h4>
                            <p>***</p>
                        </div>
                        <div class="card_foot">
                            <a href="http://eurovic.appsoga.com" class="btn btn-default"
                               style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"
                               target="_blank">ACCESO</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card slowest animated bounceInDown">
                        <img src="/helio/public/img/clientes/grtemporales.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>GrTemporales</b></h4>
                            <p>Gestión de recursos humanos</p>
                        </div>
                        <div class="card_foot">
                            <a href="http://grtemporales.appsoga.com" class="btn btn-default"
                               style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"
                               target="_blank">ACCESO</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card slowest animated bounceInDown">
                        <img src="/helio/public/img/clientes/Logox600.png" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>AppSoga</b></h4>
                            <p>Acceso administrativo</p>
                        </div>
                        <div class="card_foot">
                            <a href="http://soga.appsoga.com" class="btn btn-default"
                               style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"
                               target="_blank">ACCESO</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card slow animated bounceInDown">
                        <img src="/helio/public/img/clientes/seracis.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Seracis</b></h4>
                            <p>Seguridad mas allá de la simple vigilancia.</p>
                        </div>
                        <div class="card_foot">
                            {#<a href="http://181.129.28.122/1teg/web/app.php/login" class="btn btn-default"#}
                            {#style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"#}
                            {#target="_blank">ACCESO</a>#}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card slower animated bounceInDown">
                        <img src="/helio/public/img/clientes/segurcol.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Segurcol</b></h4>
                            <p>Seguridad Record de Colombia.</p>
                        </div>
                        <div class="card_foot">
                            {#<a href="http://181.129.28.122/1teg/web/app.php/login" class="btn btn-default"#}
                            {#style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"#}
                            {#target="_blank">ACCESO</a>#}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card slowest animated bounceInDown">
                        <img src="/helio/public/img/clientes/galaxia.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Galaxia</b></h4>
                            <p>Galaxia Segurida LTDA.</p>
                        </div>
                        <div class="card_foot">
                            {#<a href="http://galaxia.appsoga.com" class="btn btn-default"#}
                            {#style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"#}
                            {#target="_blank">ACCESO</a>#}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card animated bounceInDown">
                        <img src="/helio/public/img/clientes/horus.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Horus</b></h4>
                            <p>Protección, Sabiduría y Salud.</p>
                        </div>
                        <div class="card_foot">
                            {#<a href="http://181.129.28.122/galaxia/web/app.php" class="btn btn-default"#}
                            {#style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"#}
                            {#target="_blank">ACCESO</a>#}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card animated bounceInDown">
                        <img src="/helio/public/img/clientes/estelar.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Estelar Seguridad</b></h4>
                            <p>***</p>
                        </div>
                        <div class="card_foot">
                            {#<a href="http://181.129.28.122/ole/web/app.php/login" class="btn btn-default"#}
                            {#style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"#}
                            {#target="_blank">ACCESO</a>#}
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="card animated bounceInDown">
                        <img src="/helio/public/img/clientes/sogercol.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Sogercol</b></h4>
                            <p>Servicios generales</p>
                        </div>
                        <div class="card_foot">
                            {#<a href="http://181.129.28.122/ole/web/app.php/login" class="btn btn-default"#}
                            {#style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"#}
                            {#target="_blank">ACCESO</a>#}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card slow animated bounceInDown">
                        <img src="/helio/public/img/clientes/safety.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Safety First</b></h4>
                            <p>Gestión integral del riesgo</p>
                        </div>
                        <div class="card_foot">
                            {#<a href="http://181.129.28.122/ole/web/app.php/login" class="btn btn-default"#}
                            {#style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"#}
                            {#target="_blank">ACCESO</a>#}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card slower animated bounceInDown">
                        <img src="/helio/public/img/clientes/segurtronic.jpg" alt="Avatar" style="width:100%">
                        <div class="container_card">
                            <h4><b>Segurtronic</b></h4>
                            <p>Seguridad Electrónica</p>
                        </div>
                        <div class="card_foot">
                            {#<a href="http://181.129.28.122/ole/web/app.php/login" class="btn btn-default"#}
                            {#style="font-weight: bold;font-family: 'Raleway', sans-serif;color: #005FA6;"#}
                            {#target="_blank">ACCESO</a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include('pie.html.twig') %}
{% endblock %}