{% extends 'base.html.twig' %}
{% block title %}Inicio - AppSoga{% endblock %}
{% block body %}
    {% include('menu.html.twig') %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1 style="text-align: center;">Acceso a clientes</h1>
                <p>Acceda a través del portal que corresponde a su empresa, pulsando en el botón de Acceso.</p>
            </div>
            <hr>
            <div class="row animatedParent" style="float: left;">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <div class="card animated bounceInDown">
                            <img src="/img/coordinar.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Coordinar Seguridad</b></h4>
                                <p>Empresa especializada en Seguridad privada</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slow animated bounceInDown">
                            <img src="/img/seracis.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Seracis</b></h4>
                                <p>Seguridad mas allá de la simple vigilancia.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slower animated bounceInDown">
                            <img src="/img/segurcol.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Segurcol</b></h4>
                                <p>Seguridad Record de Colombia.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slowest animated bounceInDown">
                            <img src="/img/galaxia.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Galaxia</b></h4>
                                <p>Galaxia Segurida LTDA.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card animated bounceInDown">
                            <img src="/img/logoHorus.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Horus</b></h4>
                                <p>Protección, Sabiduría y Salud.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slow animated bounceInDown">
                            <img src="/img/logo1tec.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>1Tec Seguridad</b></h4>
                                <p>Tecnol ogía - Estrategia - Gestión.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slower animated bounceInDown">
                            <img src="/img/logoole.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Ole Movilidad</b></h4>
                                <p>Soluciones inteligentes en movilidad.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slowest animated bounceInDown">
                            <img src="/img/logoServiconi.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Serviconi</b></h4>
                                <p>Servicios privados de Seguridad y Vigilancia.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include('pie.html.twig') %}
{% endblock %}