{% extends 'base.html.twig' %}
{% block title %}Inicio - AppSoga{% endblock %}
{% block body %}
    {% include('menu.html.twig') %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1 style="text-align: center;">Acceso a clientes</h1>
                <p>Acceda a través del portal que corresponde a su empresa, pulsando en el botón de Acceso.</p>
            </div>
            <hr>
            <div class="row animatedParent" style="float: left;">
                <div class="col-lg-3">
                    <div class="card slower animated bounceInDown">
                        <img src="/img/coordinar.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>Coordinar Seguiridad</b></h4>
                            <p>Empresa espcializada en Seguridad privada</p>
                            <button>ACCESO</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card animated bounceInDown">
                        <img src="/img/seracis.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>Seracis</b></h4>
                            <p>Seguridad mas allá de la simple vigilancia.</p>
                        </div>
                        <div class="card_foot">
                            <button class="btn btn-default">ACCESO</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <img src="/img/segurcol.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>John Doe</b></h4>
                            <p>Architect & Engineer</p>
                            <button>ACCESO</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <img src="/img/galaxia.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>John Doe</b></h4>
                            <p>Architect & Engineer</p>
                            <button>ACCESO</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <img src="/img/galaxia.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>John Doe</b></h4>
                            <p>Architect & Engineer</p>
                            <button>ACCESO</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <img src="/img/galaxia.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>John Doe</b></h4>
                            <p>Architect & Engineer</p>
                            <button>ACCESO</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <img src="/img/galaxia.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>John Doe</b></h4>
                            <p>Architect & Engineer</p>
                            <button>ACCESO</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <img src="/img/galaxia.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>John Doe</b></h4>
                            <p>Architect & Engineer</p>
                            <button>ACCESO</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <img src="/img/galaxia.jpg" alt="Avatar" style="width:100%">
                        <div class="container">
                            <h4><b>John Doe</b></h4>
                            <p>Architect & Engineer</p>
                            <button>ACCESO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include('pie.html.twig') %}
{% endblock %}