{% extends 'base.html.twig' %}
{% block title %}Inicio - AppSoga{% endblock %}
{% block body %}
    {% include('menu.html.twig') %}
    <main class="site-main">
    {% include('Page/Seccion/banner.html.twig') %}
    {% include('Page/Seccion/cajasCaracteristicas.html.twig') %}
    {% include('Page/Seccion/modulos.html.twig') %}
    </main>
    {% include('pie.html.twig') %}
{% endblock %}