{% extends 'base.html.twig' %}
{% block title %}Inicio - AppSoga{% endblock %}
{% block body %}
    {% include('menu.html.twig') %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1 style="text-align: center;">Nuestros Productos</h1><br>
                <div class="col-md-12">
                    <p>Nuestro software cumple con las espectativas tanto técnicas como lógicas según la estrategia de negocio de cada uno de los clientes lo que lo hace
                    realmente modelable, acoplable y portable a cualquier entorno.<br>Las características propias del software se describen en el siguiente apartado.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <h1 style="text-align: center;">Características</h1><br>
                <div class="col-md-4 valores">
                    <img src="/helio/public/img/valores/calidad.png" class="imgVal" style="width: 35%;"/>
                    <h4>Portabilidad</h4>
                    <p>La calidad en los servicios informáticos, es el compromiso que caracteriza la acción de las
                        personas que componen a APP SOGA SAS.
                        Calidad en el diseño, en los procesos, en los procedimientos y en la gestión total tanto interna
                        como externa.</p>
                </div>
                <div class="col-md-4 valores">
                    <img src="/helio/public/img/valores/transparencia.png" class="imgVal" style="width: 35%;"/>
                    <h4>Rendimiento</h4>
                    <p>Somos una compañía que modela y diseña software con el mejor estándar de calidad para nuestros
                        clientes,
                        con el objetivo de mejorar su efectividad en sus procesos, la operación y la competitividad en
                        todo el territorio nacional.</p>
                </div>
                <div class="col-md-4 valores">
                    <img src="/helio/public/img/valores/trabajoenequipo.png" class="imgVal" style="width: 35%;"/>
                    <h4>Modulabilidad</h4>
                    <p>Con el aporte de todos los que intervienen en los diferentes procesos de APP SOGA SAS buscamos el
                        logro de los objetivos organizacionales.</p>
                </div>
            </div>
            <div class="row">
                <h1>Pure CSS Tabs With Indicator</h1>
                <div class="tabs">

                    <input type="radio" id="tab1" name="tab-control" checked>
                    <input type="radio" id="tab2" name="tab-control">
                    <input type="radio" id="tab3" name="tab-control">
                    <input type="radio" id="tab4" name="tab-control">
                    <ul>
                        <li title="Features"><label for="tab1" role="button"><svg viewBox="0 0 24 24"><path d="M14,2A8,8 0 0,0 6,10A8,8 0 0,0 14,18A8,8 0 0,0 22,10H20C20,13.32 17.32,16 14,16A6,6 0 0,1 8,10A6,6 0 0,1 14,4C14.43,4 14.86,4.05 15.27,4.14L16.88,2.54C15.96,2.18 15,2 14,2M20.59,3.58L14,10.17L11.62,7.79L10.21,9.21L14,13L22,5M4.93,5.82C3.08,7.34 2,9.61 2,12A8,8 0 0,0 10,20C10.64,20 11.27,19.92 11.88,19.77C10.12,19.38 8.5,18.5 7.17,17.29C5.22,16.25 4,14.21 4,12C4,11.7 4.03,11.41 4.07,11.11C4.03,10.74 4,10.37 4,10C4,8.56 4.32,7.13 4.93,5.82Z"/>
                                </svg><br><span>Features</span></label></li>
                        <li title="Delivery Contents"><label for="tab2" role="button"><svg viewBox="0 0 24 24"><path d="M2,10.96C1.5,10.68 1.35,10.07 1.63,9.59L3.13,7C3.24,6.8 3.41,6.66 3.6,6.58L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.66,6.72 20.82,6.88 20.91,7.08L22.36,9.6C22.64,10.08 22.47,10.69 22,10.96L21,11.54V16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V10.96C2.7,11.13 2.32,11.14 2,10.96M12,4.15V4.15L12,10.85V10.85L17.96,7.5L12,4.15M5,15.91L11,19.29V12.58L5,9.21V15.91M19,15.91V12.69L14,15.59C13.67,15.77 13.3,15.76 13,15.6V19.29L19,15.91M13.85,13.36L20.13,9.73L19.55,8.72L13.27,12.35L13.85,13.36Z" />
                                </svg><br><span>Delivery Contents</span></label></li>
                        <li title="Shipping"><label for="tab3" role="button"><svg viewBox="0 0 24 24">
                                    <path d="M3,4A2,2 0 0,0 1,6V17H3A3,3 0 0,0 6,20A3,3 0 0,0 9,17H15A3,3 0 0,0 18,20A3,3 0 0,0 21,17H23V12L20,8H17V4M10,6L14,10L10,14V11H4V9H10M17,9.5H19.5L21.47,12H17M6,15.5A1.5,1.5 0 0,1 7.5,17A1.5,1.5 0 0,1 6,18.5A1.5,1.5 0 0,1 4.5,17A1.5,1.5 0 0,1 6,15.5M18,15.5A1.5,1.5 0 0,1 19.5,17A1.5,1.5 0 0,1 18,18.5A1.5,1.5 0 0,1 16.5,17A1.5,1.5 0 0,1 18,15.5Z" />
                                </svg><br><span>Shipping</span></label></li>    <li title="Returns"><label for="tab4" role="button"><svg viewBox="0 0 24 24">
                                    <path d="M11,9H13V7H11M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M11,17H13V11H11V17Z" />
                                </svg><br><span>Returns</span></label></li>
                    </ul>

                    <div class="slider"><div class="indicator"></div></div>
                    <div class="content">
                        <section>
                            <h2>Features</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorem sequi, quo tempore in eum obcaecati atque quibusdam officiis est dolorum minima deleniti ratione molestias numquam. Voluptas voluptates quibusdam cum?</section>
                        <section>
                            <h2>Delivery Contents</h2>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius ut voluptatibus ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit amet, similique nulla.</section>
                        <section>
                            <h2>Shipping</h2>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam nemo ducimus eius, magnam error quisquam sunt voluptate labore, excepturi numquam! Alias libero optio sed harum debitis! Veniam, quia in eum.</section>
                        <section>
                            <h2>Returns</h2>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa dicta vero rerum? Eaque repudiandae architecto libero reprehenderit aliquam magnam ratione quidem? Nobis doloribus molestiae enim deserunt necessitatibus eaque quidem incidunt.</section>
                    </div>
                </div>

            </div>
            {#<section id="features" class="features">#}
                {#<div class="box foo">#}
                    {#<h3 class="features-title">Features</h3>#}
                    {#<div class="features-content">#}
                        {#<div data-features-tabs class="features-content-col">#}
                            {#<div id="feature-1" class="features-textblock animated fadeIn __active">#}
                                {#<h2>FEATURES 1</h2>#}
                                {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                                {#<ul>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                {#</ul>#}
                            {#</div>#}
                            {#<div id="feature-2" class="features-textblock animated fadeIn">#}
                                {#<h2>FEATURES 2</h2>#}
                                {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                                {#<ul>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                {#</ul>#}
                            {#</div>#}
                            {#<div id="feature-3" class="features-textblock animated fadeIn">#}
                                {#<h2>FEATURES 3</h2>#}
                                {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                                {#<ul>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                {#</ul>#}
                            {#</div>#}
                            {#<div id="feature-4" class="features-textblock animated fadeIn">#}
                                {#<h2>FEATURES 4</h2>#}
                                {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                                {#<ul>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                {#</ul>#}
                            {#</div>#}
                            {#<div id="feature-5" class="features-textblock animated fadeIn">#}
                                {#<h2>FEATURES 5</h2>#}
                                {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                                {#<ul>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                {#</ul>#}
                            {#</div>#}
                            {#<div id="feature-6" class="features-textblock animated fadeIn">#}
                                {#<h2>FEATURES 6</h2>#}
                                {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                                {#<ul>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                    {#<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed ipsum dolor sit amet, consectetur adipiscing elit.</li>#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="features-content-col">#}
                            {#<div data-features-nav class="features-graph">#}
                                {#<div class="button-holder"><a href="#feature-1" class="icon-features-1 btn-with-icon __active"><span class="sq-bt-label label-top-left">FEATURES 1</span></a><a href="#feature-2" class="icon-features-2 btn-with-icon"><span class="sq-bt-label label-top">FEATURES 2</span></a><a href="#feature-3" class="icon-features-3 btn-with-icon"><span class="sq-bt-label label-top-right">FEATURES 3</span></a></div>#}
                                {#<div class="animation-holder">#}
                            {#<span class="flash-oval">#}
                           {#<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/flash.png" alt="pulse">#}
                           {#<div class="wave hidden wave-anim"></div>#}
                           {#<div class="wave2 hidden wave-anim"></div>#}
                           {#<div class="wave3 hidden wave-anim"></div>#}
                           {#<div class="wave4 hidden wave-anim"></div>#}
                        {#</span>#}
                                {#</div>#}
                                {#<div class="button-holder">#}
                                    {#<a href="#feature-4" class="icon-features-4 btn-with-icon">#}
                                        {#<span class="sq-bt-label label-bottom-left">FEATURES 4</span></a><a href="#feature-5" class="icon-features-5 btn-with-icon"><span class="sq-bt-label label-bottom">FEATURES 5</span></a><a href="#feature-6" class="icon-features-6 btn-with-icon"><span class="sq-bt-label label-bottom-right">FEATURES 6</span></a></div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</section>#}
        </div>
        <div class="row">
            <div class="avFeaturesContainer">
                <div class="avFeaturesRapper">
                    <h1>Features</h1>
                    <!-- floating app modules -->
                    <div class="screenRap">
                        <div class="avTile">av tile</div>
                        <div class="firewallTile">firewall tile</div>
                        <div class="backupTile">backup tile</div>
                        <div class="vulnerabilitiesTile">vulnerabilitiesTile</div>
                        <div class="spamfilterTile">spamfilter tile</div>
                        <div class="smpTile">social media protection tile</div>
                        <div class="tuneupTile">tun-up tile</div>
                        <div class="idpTile">identity protection tile</div>
                        <div class="parentalTile">parental controls tile</div>
                    </div>
                    <!-- //floating app modules -->
                    <!-- av feature content -->
                    <div class="feature avFeature">
                        <h2>Antivirus</h2>
                        <div><span></span></div>
                        <p>Effectively catches all viruses. Our Antivirus includes Behavioural Detection, which spots new viruses because of the actions they take on your computer and stops them before they can do damage. Together with Signature-based Detection, which identifies
                            the 'signatures' of known malware, you gain a multi-layered defence system for your PC that's virtually impenetrable.
                            <br />
                            <br />Top detection rates of viruses and malware have been proven by independent labs.</p>
                    </div>
                    <!-- //av feature content -->
                    <!-- firewall feature content -->
                    <div class="feature firewallFeature">
                        <h2>Firewall</h2>
                        <div><span></span></div>
                        <p>Protect your computer from unwanted hackers and identity thieves with this first line of defense.The firewall protects you against network attacks and prevents cyber crooks from entering your system.</p>
                    </div>
                    <!-- //firewall feature content -->
                    <!-- backup feature content -->
                    <div class="feature backupFeature">
                        <h2>Backup</h2>
                        <div><span></span></div>
                        <p>We’ve included 5GB of FREE online storage so you can keep your important data, photos, music and more safe. You can choose what you want to back up and how often, or just set the feature to auto backup. You can even back up content directly from
                            folders with one click. And here’s more: your back-up data is easily accessible whenever you want to view it or restore it to another computer or even your smart phone.</p>
                    </div>
                    <!-- //backup feature content -->
                    <!-- vulnerabilities feature content -->
                    <div class="feature vulnerabilitiesFeature">
                        <h2>Vulnerabilities</h2>
                        <div><span></span></div>
                        <p>Checks your computer for out-dated software that hackers and viruses can exploit to gain access to your system, damage it or steal personal information. Once this software is flagged up it can then be removed.</p>
                    </div>
                    <!-- //vulnerabilities feature content -->
                    <!-- spamfilter feature content -->
                    <div class="feature spamfilterFeature">
                        <h2>Spamfilter</h2>
                        <div><span></span></div>
                        <p>Spamfilter. No spam. No scam. BullGuard Spamfilter keeps out junk mail and email scams, like phishing attempts, virus spreading and foreign language spam. You can also customize filters to block emails you don’t want to receive.</p>
                    </div>
                    <!-- //spamfilter feature content -->
                    <!-- smp feature content -->
                    <div class="feature smpFeature">
                        <h2>Social Media Protect</h2>
                        <div><span></span></div>
                        <p>BullGuard helps you to monitor your children’s Facebook profiles, including private messages and photos. We flag all possible threats to your children’s safety, and notify you each time we find inappropriate content and ill-intended strangers.</p>
                    </div>
                    <!-- //smp feature content -->
                    <!-- tuneup feature content -->
                    <div class="feature tuneupFeature">
                        <h2>PC Tune-up</h2>
                        <div><span></span></div>
                        <p>You'll never have to wait again to get your computer up and running. BullGuard's PC Tune Up removes unnecessary files and frees up memory so your computer runs faster.</p>
                    </div>
                    <!-- //tuneup feature content -->
                    <!-- idp feature content -->
                    <div class="feature idpFeature">
                        <h2>Identity Protection</h2>
                        <div><span></span></div>
                        <p>BullGuard scans the entire web for your usernames, email and postal addresses, phone numbers, credit card numbers, and more. Whenever one of your registered details is made public online, we immediately alert you via email and SMS, and provide you
                            with advice on what to do next.
                            <br />
                            <br />
                            <span class="smallNotice">Identity Protection is only available for US, UK, Canada, Denmark, Germany, France, Ireland and Netherlands residents.</span></p>
                    </div>
                    <!-- //idp feature content -->
                    <!-- parental feature content -->
                    <div class="feature parentalFeature">
                        <h2>Parental Control</h2>
                        <div><span></span></div>
                        <p>Use BullGuard Parental Control to keep your children in check. You can block their access to suspicious websites, limit their time on the internet and monitor their activity. BullGuard helps you to protect them from being exposed to cyberbullying
                            and inappropriate content.</p>
                    </div>
                    <!-- //parental feature content -->
                    <p class="hoverIcon">Mouse over on tiles to see details</p>
                </div>
            </div>
        </div>
    </div>
    {% include('pie.html.twig') %}
{% endblock %}