{% extends 'base.html.twig' %}
{% block title %}Productos - AppSoga{% endblock %}
{% block body %}
    {% include('menu.html.twig') %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1 style="text-align: center;">Nuestros Productos</h1><br>
                <div class="col-md-12">
                    <p>
                        Soga es un sistema ambientado en un entorno web, esto nos permite utilizar una cantidad
                        ilimitada de ventanas en las cuales podemos administrar y acceder a la información de manera
                        sencilla.
                        <br><br>
                        Soga ofrece la posibilidad de crear y administrar cuentas de usuario para las personas
                        encargadas de los procesos empresariales dentro del sistema, a las cuales se le han de asignar
                        permisos específicos a fin de establecer los niveles de accesibilidad de un usuario al sistema,
                        y haciendo posible también realizar seguimiento a las acciones ejecutadas dentro del sistema por
                        un usuario específico.
                        <br><br>Debido a la naturaleza web del sistema Soga, es posible llevar todos los procesos
                        corporativos digitalmente, evitando en gran medida la necesidad del uso de papel físico,
                        contribuyendo a gran escala con el medio ambiente.
                        <br><br>
                        Teniendo en cuenta que el sistema almacena la información de manera digital, es posible
                        recopilar cantidades sublimes de información respaldada trayendo consigo la confiabilidad y
                        seguridad de la trazabilidad de la información empresarial, eliminando uno de los procesos más
                        dispendiosos de una oficina de trabajo como lo es la necesidad de archivar masivamente la
                        documentación física
                    </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    {#<h1 style="text-align: center;">Características</h1>#}

                    <div class="mainProductos">
                        <input class="inputProductos" id="tab1" type="radio" name="tabs" checked>
                        <label class="labelProductos" for="tab1"><span class="fa fa-list"></span> Caracterización
                            General </label>

                        <input class="inputProductos" id="tab2" type="radio" name="tabs">
                        <label class="labelProductos" for="tab2"><span class="fa fa-plus"></span> Beneficios del Sistema</label>

                        {#<input class="inputProductos" id="tab3" type="radio" name="tabs">#}
                        {#<label class="labelProductos" for="tab3">Módulos</label>#}

                        <input class="inputProductos" id="tab4" type="radio" name="tabs">
                        <label class="labelProductos" for="tab4"><span class="fa fa-smile-o"></span> Acompañamiento y
                            Soporte técnico</label>

                        <div class="sectionProductos" id="content1">
                            <p>
                                Soga es un sistema ambientado en un entorno web, esto nos permite utilizar una cantidad
                                ilimitada de ventanas en las cuales podemos administrar y acceder a la información de
                                manera sencilla.
                                <br><br>
                                Soga ofrece la posibilidad de crear y administrar cuentas de usuario para las personas
                                encargadas de los procesos empresariales dentro del sistema,
                                a las cuales se le han de asignar permisos específicos a fin de establecer los niveles
                                de accesibilidad de un usuario al sistema, y haciendo posible también realizar
                                seguimiento a las acciones ejecutadas dentro del sistema por un usuario específico. <br>
                                <br>
                                Debido a la naturaleza web del sistema Soga, es posible llevar todos los procesos
                                corporativos digitalmente, evitando en gran medida la necesidad del uso de papel físico,
                                contribuyendo a gran escala con el medio ambiente. <br> <br>
                                Teniendo en cuenta que el sistema almacena la información de manera digital,
                                es posible recopilar cantidades sublimes de información respaldada trayendo consigo la
                                confiabilidad y seguridad de la trazabilidad
                                de la información empresarial, eliminando uno de los procesos más dispendiosos de una
                                oficina de trabajo como lo es la necesidad de archivar masivamente la documentación
                                física.
                            </p>
                        </div>

                        <div class="sectionProductos" id="content2">
                            <p>
                            <ul>
                                <li>
                                    Soga permite relacionar los diversos procesos empresariales llevándolos a cabo de
                                    manera simultánea y consiguiendo así que toda la información gestionada se encuentre
                                    en un mismo punto haciendo más sencilla la consulta, seguimiento y gestión de los
                                    procesos efectuados en la empresa
                                </li>
                                <li>Soga es un sistema innovador, el cual constantemente crece y se actualiza,
                                    adaptándose a las
                                    novedades del mercado, ofreciéndoles de ésta manera a sus clientes la mayor eficacia
                                    y
                                    actualidad en sus servicios, además de ello, realiza un constante seguimiento a sus
                                    colaboradores explorando mejoras con el fin de prestar el mejor servicio para los
                                    mismos
                                </li>
                                <li>
                                    Al ser un sistema compacto de gestión general, se encuentra en la capacidad de
                                    realizar
                                    procesos automáticamente que normalmente se manejaban de manera manual, así como la
                                    programación de turnos o la gestión de información general de la empresa lo cual
                                    optimiza en
                                    gran medida la eficacia de la operatividad general corporativa, logrando de ésa
                                    manera
                                    evitar los re-procesos que retrasan los avances significativos de la empresa
                                </li>
                                <li>
                                    La capacidad de realizar seguimiento a los procesos realizados en una empresa es
                                    fundamental, por eso Soga ofrece diversas ayudas y utilidades que llevan a este fin,
                                    evidenciando reportes de lo ejecutado en la empresa
                                </li>
                            </ul>
                            </p>
                        </div>

                        {#<div class="sectionProductos" id="content3">#}
                        {#<p>#}
                        {#Bacon ipsum dolor sit amet beef venison beef ribs kielbasa. Sausage pig leberkas, t-bone#}
                        {#sirloin shoulder bresaola. Frankfurter rump porchetta ham. Pork belly prosciutto brisket#}
                        {#meatloaf short ribs.#}
                        {#</p>#}
                        {#<p>#}
                        {#Brisket meatball turkey short loin boudin leberkas meatloaf chuck andouille pork loin#}
                        {#pastrami spare ribs pancetta rump. Frankfurter corned beef beef tenderloin short loin#}
                        {#meatloaf swine ground round venison.#}
                        {#</p>#}
                        {#</div>#}

                        <div class="sectionProductos" id="content4">
                            <p>
                                Soga es una empresa que piensa principalmente en sus clientes, a raíz de ello, pone a su
                                disposición diferentes posibilidades de solicitar apoyo en caso de ser necesario, como
                                la plataforma Mercurio, en la cual los clientes Soga pueden montar sus casos especiales
                                o necesidades puntuales para ser atendidas directamente con el equipo de soporte de y
                                desarrollo, además la disposición de capacitaciones para el personal encargado de los
                                procesos que se han de realizar dentro del sistema, además de ello, comprometido con sus
                                clientes se encuentra disponible en las diferentes líneas de atención para resolver
                                inquietudes y ofrecer soporte remoto o programar una capacitación presencial.
                            </p>
                            <h2>Capacitación de uso</h2>
                            <p>

                                Inicialmente durante el periodo de implementación del sistema, se realiza una
                                capacitación general y posteriormente capacitaciones puntuales de los procesos a los
                                directos encargados de los mismos, mostrando como se lleva el proceso dentro de la
                                aplicación, atendiendo a diversas dudas o anotaciones de los capacitados, reforzando
                                casos en los cuales se sientan más inestables o sean críticos para la operación
                                Principalmente se imparten los temas de los módulos principales del sistema, los cuales
                                afectan directamente la gestión de la operación, Programación de turnos y Recurso Humano
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="avFeaturesContainer">
                <div class="avFeaturesRapper">
                    <h1 style="font-weight: bold;">Módulos de la plataforma</h1>
                    <!-- floating app modules -->
                    <div class="screenRap">
                        <div class="avTile">Recursos Humanos</div>
                        <div class="firewallTile">Programación de Turnos</div>
                        <div class="backupTile">Cartera</div>
                        <div class="vulnerabilitiesTile">Inventario</div>
                        <div class="spamfilterTile">Contabilidad</div>
                        {#<div class="smpTile">social media protection tile</div>#}
                        {#<div class="tuneupTile">tun-up tile</div>#}
                        {#<div class="idpTile">identity protection tile</div>#}
                        {#<div class="parentalTile">parental controls tile</div>#}
                    </div>
                    <!-- //floating app modules -->
                    <!-- av feature content -->
                    <div class="feature avFeature">
                        <h2>Recursos Humanos</h2>
                        <div><span></span></div>
                        <p>EEl módulo de R.H. nos permite llevar un control sobre el área administrativa de la operación
                            empresarial. Con muchas utilidades importantes para la gestión de los empleados en general
                            hasta llegar a un proceso de Nomina.
                            {#<br/>#}
                            {#<br/>Top detection rates of viruses and malware have been proven by independent labs.#}
                        </p>
                    </div>
                    <!-- //av feature content -->
                    <!-- firewall feature content -->
                    <div class="feature firewallFeature">
                        <h2>Programación de Turnos</h2>
                        <div><span></span></div>
                        <p>Este módulo le permitirá gestionar el proceso operativo de la compañía con la facilidad de
                            llevar a cabo desde la administración de los clientes – Procesos comerciales hasta la
                            programación del personal operativo.</p>
                    </div>
                    <!-- //firewall feature content -->
                    <!-- backup feature content -->
                    <div class="feature backupFeature">
                        <h2>Cartera</h2>
                        <div><span></span></div>
                        <p>Este módulo permite gestionar el pago de la facturación dirigida a los clientes.</p>
                    </div>
                    <!-- //backup feature content -->
                    <!-- vulnerabilities feature content -->
                    <div class="feature vulnerabilitiesFeature">
                        <h2>Inventario</h2>
                        <div><span></span></div>
                        <p>Éste módulo permite realizar seguimiento a los diferentes movimientos efectuados en las
                            existencias de la compañía, llevando un control preciso de las acciones ejecutadas.</p>
                    </div>
                    <!-- //vulnerabilities feature content -->
                    <!-- spamfilter feature content -->
                    <div class="feature spamfilterFeature">
                        <h2>Contabilidad</h2>
                        <div><span></span></div>
                        <p>Éste módulo nos permite administrar y consultar los registros de las acciones ejecutadas que
                            se relacionen directamente con gastos de la compañía.</p>
                    </div>
                    <!-- //spamfilter feature content -->
                    <!-- smp feature content -->
                    {#<div class="feature smpFeature">#}
                    {#<h2>Social Media Protect</h2>#}
                    {#<div><span></span></div>#}
                    {#<p>BullGuard helps you to monitor your children’s Facebook profiles, including private messages#}
                    {#and photos. We flag all possible threats to your children’s safety, and notify you each time#}
                    {#we find inappropriate content and ill-intended strangers.</p>#}
                    {#</div>#}
                    {#<!-- //smp feature content -->#}
                    {#<!-- tuneup feature content -->#}
                    {#<div class="feature tuneupFeature">#}
                    {#<h2>PC Tune-up</h2>#}
                    {#<div><span></span></div>#}
                    {#<p>You'll never have to wait again to get your computer up and running. BullGuard's PC Tune Up#}
                    {#removes unnecessary files and frees up memory so your computer runs faster.</p>#}
                    {#</div>#}
                    {#<!-- //tuneup feature content -->#}
                    {#<!-- idp feature content -->#}
                    {#<div class="feature idpFeature">#}
                    {#<h2>Identity Protection</h2>#}
                    {#<div><span></span></div>#}
                    {#<p>BullGuard scans the entire web for your usernames, email and postal addresses, phone numbers,#}
                    {#credit card numbers, and more. Whenever one of your registered details is made public#}
                    {#online, we immediately alert you via email and SMS, and provide you#}
                    {#with advice on what to do next.#}
                    {#<br/>#}
                    {#<br/>#}
                    {#<span class="smallNotice">Identity Protection is only available for US, UK, Canada, Denmark, Germany, France, Ireland and Netherlands residents.</span>#}
                    {#</p>#}
                    {#</div>#}
                    {#<!-- //idp feature content -->#}
                    {#<!-- parental feature content -->#}
                    {#<div class="feature parentalFeature">#}
                    {#<h2>Parental Control</h2>#}
                    {#<div><span></span></div>#}
                    {#<p>Use BullGuard Parental Control to keep your children in check. You can block their access to#}
                    {#suspicious websites, limit their time on the internet and monitor their activity. BullGuard#}
                    {#helps you to protect them from being exposed to cyberbullying#}
                    {#and inappropriate content.</p>#}
                    {#</div>#}
                    <!-- //parental feature content -->
                    <p class="hoverIcon">Pase el cursor sobre las características</p>
                </div>
            </div>
        </div>
    </div>
    {% include('pie.html.twig') %}
{% endblock %}