{% extends 'base.html.twig' %}
{% block title %}Inicio - AppSoga{% endblock %}
{% block body %}
    {% include('menu.html.twig') %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1 style="text-align: center;">¿Quienes Somos?</h1>
                <hr>
                <div class="col-md-6">
                    <p>SOGA APP es una empresa dedicada al desarrollo de Software empresarial, con un crecimiento exponencial en el mercado del software de Programación de turnos y Gestión Humana.<br>
                        El software de SOGA fue diseñado por un grupo selecto de profesionales en las diferentes ramas de la ingenieria quienes invirtieron tiempo, dinero, investigación y conocimiento en una herramienta
                        capaz de sistematizar los procesos de Nómina y los subprocesos que influyen en este.</p>
                </div>
                <div class="col-md-6">
                    <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/GmHrjFIWl6U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <hr>
            <div class="row">
                <h1 style="text-align: center;">Objetivos</h1>
                <hr>
                <div class="col-md-6">
                    <h2>Misión</h2>
                    <p>Somos una compañía que modela y diseña software con el mejor estándar de calidad para nuestros clientes,
                        con el objetivo de mejorar su efectividad en sus procesos, la operación y la competitividad en todo el territorio nacional.</p>
                </div>
                <div class="col-md-6">
                    <h2>Visión</h2>
                    <p>Para el año 2018, APP SOGA SAS será la principal compañía en diseño de software para el sector de seguridad privada, respetando los principios y las normas constitucionales.
                        Esta labor se debe desempeñar de forma ética y con un personal altamente calificado e idóneo para cada tarea.</p>
                </div>
            </div>
            <div class="row">
                <h1 style="text-align: center;">Nuestro Equipo de Trabajo</h1>
                <p>SOGA APP, se caracteriza por la calidad de su capital humano; Capital que se conforma por Ingenieros, Analistas y Técnicos especializados en las diferentes áreas de desarrollo,
                    Infraestructura, Soporte, Calidad, Diseño e Implementación de tecnologías.<br>Este grupo de trabajo va de la mano de los valores corporativos para entregar un producto completo,
                    de calidad y con los estandares tecnológicos más relevantes del mercado.<br>A continuación conocerás a las personas que hacen de SOGA APP una empresa líder en el mercado.</p>
            </div>
            <div class="row">
                <h1 style="text-align: center;">Valores Corporativos</h1>
                <hr>
                <div class="col-md-2 valores">
                    <img src="/helio/public/img/valores/calidad.png" />
                    <h4>Calidad</h4>
                    <p>La calidad en los servicios informáticos, es el compromiso que caracteriza la acción de las personas que componen a APP SOGA SAS.
                        Calidad en el diseño, en los procesos, en los procedimientos y en la gestión total tanto interna como externa.</p>
                </div>
                <div class="col-md-2 valores">
                    <img src="/helio/public/img/valores/transparencia.png" />
                    <h4>Transparencia</h4>
                    <p>Somos una compañía que modela y diseña software con el mejor estándar de calidad para nuestros clientes,
                        con el objetivo de mejorar su efectividad en sus procesos, la operación y la competitividad en todo el territorio nacional.</p>
                </div>
                <div class="col-md-2 valores">
                    <img src="/helio/public/img/valores/trabajoenequipo.png" />
                    <h4>Trabajo en Equipo</h4>
                    <p>Con el aporte de todos los que intervienen en los diferentes procesos de APP SOGA SAS buscamos el logro de los objetivos organizacionales.</p>
                </div>
                <div class="col-md-2 valores">
                    <img src="/helio/public/img/valores/respeto.png" />
                    <h4>Respeto</h4>
                    <p>Escuchamos, entendemos y valoramos al ser, buscando armonía en las relaciones comerciales, interpersonales y laborales.</p>
                </div>
                <div class="col-md-2 valores">
                    <img src="/helio/public/img/valores/innovacion.png" />
                    <h4>Innovación</h4>
                    <p>Nos permite ser creativos, dinámicos y positivos generando ideas de productividad y soluciones integrales a nuestros clientes y el entorno social.</p>
                </div>
                <div class="col-md-2 valores">
                    <img src="/helio/public/img/valores/responsabilidad.png" />
                    <h4>Responsabilidad</h4>
                    <p>Obramos con seriedad, en consecuencia con nuestros deberes y derechos como empleados, acorde con nuestro compromiso con la empresa y los clientes.</p>
                </div>

            </div>
            <hr>
            <div class="row animatedParent" style="float: left;">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <div class="card animated bounceInDown">
                            <img src="/helio/public/img/equipo/mario.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Mario Andres Estrada Zuluaga</b></h4>
                                <p>Jefe de desarrollo</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slow animated bounceInDown">
                            <img src="/helio/public/img/equipo/felipe.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Juan Felipe Mesa Ocampo</b></h4>
                                <p>Analista Desarrollador Senior</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slower animated bounceInDown">
                            <img src="/helio/public/img/equipo/david.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Juan David Marulanda Velasquez</b></h4>
                                <p>Analista Desarrollador Senior</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slowest animated bounceInDown">
                            <img src="/helio/public/img/equipo/andres.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Andres Camilo Acevedo Cartagena</b></h4>
                                <p>Desarrollador</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card animated bounceInDown">
                            <img src="/helio/public/img/equipo/karina.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Karina Vasquez Rodriguez</b></h4>
                                <p>Protección, Sabiduría y Salud.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slow animated bounceInDown">
                            <img src="/helio/public/img/equipo/felipe2.jpg" alt="Avatar" style="width:100%; height: auto;">
                            <div class="container_card">
                                <h4><b>Juan Felipe Tangarife Ospina</b></h4>
                                <p>Tecnología - Estrategia - Gestión.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slower animated bounceInDown">
                            <img src="/helio/public/img/equipo/pablo.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Pablo Andres Aranzazu Atuesta</b></h4>
                                <p>Soluciones inteligentes en movilidad.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slowest animated bounceInDown">
                            <img src="/helio/public/img/equipo/alejandro.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Alejandro Vera Carrasquilla</b></h4>
                                <p>Servicios privados de Seguridad y Vigilancia.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card animated bounceInDown">
                            <img src="/helio/public/img/equipo/david.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Sebastian Orozco</b></h4>
                                <p>Protección, Sabiduría y Salud.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slow animated bounceInDown">
                            <img src="/helio/public/img/equipo/vanesa.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Vanesa</b></h4>
                                <p>Tecnología - Estrategia - Gestión.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    {#<div class="col-sm-3">#}
                        {#<div class="card slower animated bounceInDown">#}
                            {#<img src="/img/equipo/pablo.jpg" alt="Avatar" style="width:100%">#}
                            {#<div class="container_card">#}
                                {#<h4><b>Pablo Andres Aranzazu Atuesta</b></h4>#}
                                {#<p>Soluciones inteligentes en movilidad.</p>#}
                            {#</div>#}
                            {#<div class="card_foot">#}
                                {#<button class="btn btn-default">ACCESO</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-sm-3">#}
                        {#<div class="card slowest animated bounceInDown">#}
                            {#<img src="/img/equipo/alejandro.jpg" alt="Avatar" style="width:100%">#}
                            {#<div class="container_card">#}
                                {#<h4><b>Alejandro Vera Carrasquilla</b></h4>#}
                                {#<p>Servicios privados de Seguridad y Vigilancia.</p>#}
                            {#</div>#}
                            {#<div class="card_foot">#}
                                {#<button class="btn btn-default">ACCESO</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
    {% include('pie.html.twig') %}
{% endblock %}