{% extends 'base.html.twig' %}
{% block title %}Inicio - AppSoga{% endblock %}
{% block body %}
    {% include('menu.html.twig') %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h1 style="text-align: center;">¿Quienes Somos?</h1>
                <p>SOGA APP es una empresa dedicada al desarrollo de Software empresarial, con un crecimiento exponencial en el mercado del software de Programación de turnos y Gestión Humana.<br>
                El software de SOGA fue diseñado por un grupo selecto de profesionales en las diferentes ramas de la ingenieria quienes invirtieron tiempo, dinero, investigación y conocimiento en una herramienta
                capaz de sistematizar los procesos de Nómina y los subprocesos que influyen en este.</p>
            </div>
            <hr>
            <div class="row">
                <h1 style="text-align: center;">Nuestro Equipo de Trabajo</h1>
                <p>SOGA APP, se caracteriza por la calidad de su capital humano; Capital que se conforma por Ingenieros, Analistas y Técnicos especializados en las diferentes áreas de desarrollo,
                Infraestructura, Soporte, Calidad, Diseño e Implementación de tecnologías.<br>Este grupo de trabajo va de la mano de los valores corporativos para entregar un producto completo,
                de calidad y con los estandares tecnológicos más relevantes del mercado.<br>A continuación conocerás a las personas que hacen de SOGA APP una empresa líder en el mercado.</p>
            </div>
            <hr>
            <div class="row animatedParent" style="float: left;">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <div class="card animated bounceInDown">
                            <img src="/img/coordinar.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Mario Andres Estrada Zuluaga</b></h4>
                                <p>Jefe de desarrollo</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slow animated bounceInDown">
                            <img src="/img/seracis.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Sebastián Orozco Flórez</b></h4>
                                <p>Soporte e Implementación</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slower animated bounceInDown">
                            <img src="/img/segurcol.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Juan David Marulanda Velasquez</b></h4>
                                <p>Seguridad Record de Colombia.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slowest animated bounceInDown">
                            <img src="/img/galaxia.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Andres Camilo Acevedo Cartagena</b></h4>
                                <p>Galaxia Segurida LTDA.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card animated bounceInDown">
                            <img src="/img/logoHorus.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Karina Vasquez Rodriguez</b></h4>
                                <p>Protección, Sabiduría y Salud.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slow animated bounceInDown">
                            <img src="/img/logo1tec.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Juan Felipe Tangarife Ospina</b></h4>
                                <p>Tecnol ogía - Estrategia - Gestión.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slower animated bounceInDown">
                            <img src="/img/logoole.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Juan Pablo Aranzazu Atuesta</b></h4>
                                <p>Soluciones inteligentes en movilidad.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card slowest animated bounceInDown">
                            <img src="/img/logoServiconi.jpg" alt="Avatar" style="width:100%">
                            <div class="container_card">
                                <h4><b>Serviconi</b></h4>
                                <p>Servicios privados de Seguridad y Vigilancia.</p>
                            </div>
                            <div class="card_foot">
                                <button class="btn btn-default">ACCESO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include('pie.html.twig') %}
{% endblock %}