<section class="hero_area">
    <div class="hero_content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>APP SOGA</h1>
                    <h2>Software de administración general.</h2>
                </div>
            </div>
        </div>
    </div>
</section>