<section class="hero_area">
    <div class="hero_content">
        <div class="container">
            <div class="row animatedParent">
                <div class="col-sm-12">
                    <h1 class="animated fadeInLeft">APP SOGA</h1>
                    <h2 class="animated fadeInLeftShort">Software de administración general.</h2>
                </div>
            </div>
        </div>
    </div>
</section>