<section class="boxes_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box animatedParent">
                    <img src="/img/HIJO1.png" class="slow animated bounceInDown" width="100%">
                    <h3 class="animated bounceInUp">PLANIFICA NEGOCIOS</h3>
                    <p class="animated shakeUp">Herramientas con un enfoque de proyección creadas para soportar las decisiones a futuro de su negocio.</p>
                    {#<i class="fa fa-cogs" style="font-size: large;"></i>#}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box animatedParent">
                    <img src="/img/HIJO2B.png" class="slow animated bounceInDown" width="100%">
                    <h3 class="animated bounceInUp">CREA ESTRATEGIAS</h3>
                    <p class="animated shakeUp">No solo diseñamos herramientas y utilidades para satisfacer los procesos, estamos pensando siempre en hacerlo mas fácil y rápido.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box animatedParent">
                    <img src="/img/HIJO4B.png" class="slow animated bounceInDown" width="100%">
                    <h3 class="animated bounceInUp">ANÁLISIS FUERTE</h3>
                    <p class="animated shakeUp">Reportes, listas, excel, informes detallados de cada movimiento de su negocio.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box animatedParent">
                    <img src="/img/HIJO3.png" class="slow animated bounceInDown" width="100%">
                    <h3 class="animated bounceInUp">SOLUCIÓN WEB</h3>
                    <p class="animated shakeUp">Compartimos su pensamiento: Internet ya hace parte de nosotros, es el presente y el futuro, diseñamos herramientas para esto.</p>
                </div>
            </div>
        </div>
    </div>
</section>