<section class="boxes_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box animatedParent">
                    <img src="/img/HIJO1C.png" class="slow animated bounceInDown" width="100%">
                    <h3 class="animated bounceInUp">PROYECTAMOS TU<br>NEGOCIO</h3>
                    <p class="animated shakeUp">Valoramos tanto lo que has hecho, que contamos con herramientas con las que proyectamos a futuro las decisiones que debes tomar por el bien de tu negocio.</p>
                    {#<i class="fa fa-cogs" style="font-size: large;"></i>#}
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box animatedParent">
                    <img src="/img/HIJO2C.png" class="slow animated bounceInDown" width="100%">
                    <h3 class="animated bounceInUp">PENSAMOS ESTRATÉGICAMENTE</h3>
                    <p class="animated shakeUp">Nuestro equipo está pensado para ir más allá de diseñar y satisfacer procesos. Siempre buscamos la forma de hacerlo más fácil y rápido.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box animatedParent">
                    <img src="/img/HIJO4C.png" class="slow animated bounceInDown" width="100%"><br>
                    <h3 class="animated bounceInUp">ANALIZAMOS EN<br>DETALLE</h3>
                    <p class="animated shakeUp">Desglosamos detalladamente cada proceso de tu negocio. Gracias a los reportes que personalizamos para ti, tienes a la mano el control de tus procesos.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box animatedParent">
                    <img src="/img/HIJO3C.png" class="slow animated bounceInDown" width="100%">
                    <h3 class="animated bounceInUp">CREEMOS EN LA<br>WEB</h3>
                    <p class="animated shakeUp">Integramos todos nuestros servicios a un clic de distancia. Controla y mantente al tanto de tus procesos, desde cualquier dispositivo.</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>