<section class="services">
    <h2 class="section-title">NUESTRAS SOLUCIONES SON A TU MEDIDA</h2>
    <div class="container">
        <div class="row">
            <p style="text-align: center;">Diseñamos especialmente APP SOGA a tu necesidad. Nuestro equipo de profesionales, parte de 4 bases: COMPATIBILIDAD, RENDIMIENTO, DESEMPEÑO y AGILIDAD. Esto y el uso de nuestras aplicaciones con los últimos estándares de calidad, nos convierten en tu aliado estratégico;
                gracias a que nuestras herramientas trabajan sobre cualquier sistema operativo, evitándote así cualquier tipo de sobrecostos.</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="media animatedParent">
                    {#<div class="media-left media-middle">#}
                        {#<i class="fa fa-cogs"></i>#}
                    {#</div>#}
                    <img src="/helio/public/img/conference-call-512.png" class="media-image animated bounceInDown">
                    <div class="media-body">
                        <h4 class="media-heading">RECURSO HUMANO</h4>
                        <p class="animated shakeUp">Sabemos lo importante que es tener una buena base de datos actualizada.
                            Ahora tus empleados y clientes; los contratos, acreditaciones y demás procesos, estarán a tu alcance.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="media animatedParent">
                    {#<div class="media-left media-middle">#}
                        {#<i class="fa fa-user-md"></i>#}
                    {#</div>#}
                    <img src="/helio/public/img/calendar-512.png" class="media-image animated bounceInDown">
                    <div class="media-body">
                        <h4 class="media-heading">PROGRAMACIÓN DE TURNOS</h4>
                        <p class="animated shakeUp">Administra las programaciones de turnos de los colaboradores. Realiza seguimientos y registros de las novedades con tus clientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="media animatedParent">
                    {#<div class="media-left media-middle">#}
                        {#<i class="fa fa-stethoscope"></i>#}
                    {#</div>#}
                    <img src="/helio/public/img/bank-cards-512.png" class="media-image animated bounceInDown">
                    <div class="media-body">
                        <h4 class="media-heading">CARTERA</h4>
                        <p class="animated shakeUp">Todo en orden. Ahora podrás controlar tus cuentas por cobrar, anticipos, créditos y procedimientos asociados a la recolección de activos monetarios y facturación
                            pendiente de tus clientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="media animatedParent">
                    {#<div class="media-left media-middle">#}
                        {#<i class="fa fa-graduation-cap"></i>#}
                    {#</div>#}
                    <img src="/helio/public/img/product-512.png" class="media-image animated bounceInDown">
                    <div class="media-body">
                        <h4 class="media-heading">INVENTARIO</h4>
                        <p class="animated shakeUp">Las cifras al día. Realiza seguimiento, control e inspección de los activos fijos de tu negocio, realizando reportes
                            (KARDEX) y administrando el inventario en general.</p>
                    </div>
                </div>
            </div>
            {#<div class="col-md-4 col-sm-6 col-xs-12">#}
                {#<div class="media">#}
                    {#<div class="media-left media-middle">#}
                        {#<i class="fa fa-file-text-o"></i>#}
                    {#</div>#}
                    {#<div class="media-body">#}
                        {#<h4 class="media-heading">FIFTH SERVICE TITLE</h4>#}
                        {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-md-4 col-sm-6 col-xs-12">#}
                {#<div class="media">#}
                    {#<div class="media-left media-middle">#}
                        {#<i class="fa fa-heartbeat"></i>#}
                    {#</div>#}
                    {#<div class="media-body">#}
                        {#<h4 class="media-heading">SIXTH SERVICE TITLE</h4>#}
                        {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</section>
{% include('Page/Seccion/logosClientes.html.twig') %}
<section>
    <!-- Container element -->
    <div class="parallax animatedParent">
        <h1 class="animated fadeInDown">Trabajo en equipo</h1>
        <h2 class="slow animated fadeInDown"><i>"Un pilar del desarrollo y la calidad"</i></h2>
    </div>
</section>
