<section class="services">
    <h2 class="section-title">MÓDULOS</h2>
    <p class="desc">Compatibilidad, rendimiento, desempeño, agilidad son adjetivos dentro de cada uno de los desarrollos asumidos por el equipo de Soga, la satisfacción del cliente se ve reflejada en el uso de nuestras aplicaciones hechas con los últimos estandares de calidad y utilizando las mejores herramientas de desarrollo.
    El uso de herramientas que trabajan sobre cualquier sistema operativo y las cuales son de uso libre evita la transferencia de costos indirectos a los clientes que no necesitan depender de alguna marca o sistema operativo en particular.</p>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">FIRST SERVICE TITLE</h4>
                        <p>Lorem ipsum dolor amet,consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="fa fa-user-md"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">SECOND SERVICE TITLE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="fa fa-stethoscope"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">THIRD SERVICE TITLE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">FOURTH SERVICE TITLE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">FIFTH SERVICE TITLE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="fa fa-heartbeat"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">SIXTH SERVICE TITLE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>