<section class="services">
    <h2 class="section-title">MÓDULOS</h2>
    <div class="container">
        <div class="row">
            <p>Compatibilidad, rendimiento, desempeño, agilidad son adjetivos dentro de cada uno de los desarrollos asumidos por el equipo de Soga, la satisfacción del cliente se ve reflejada en el uso de nuestras aplicaciones hechas con los últimos estandares de calidad y utilizando las mejores herramientas de desarrollo.
                El uso de herramientas que trabajan sobre cualquier sistema operativo y las cuales son de uso libre evita la transferencia de costos indirectos a los clientes que no necesitan depender de alguna marca o sistema operativo en particular.</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="media animatedParent">
                    {#<div class="media-left media-middle">#}
                        {#<i class="fa fa-cogs"></i>#}
                    {#</div>#}
                    <img src="/img/conference-call-512.png" class="media-image animated bounceInDown">
                    <div class="media-body">
                        <h4 class="media-heading">RECURSO HUMANO</h4>
                        <p class="animated shakeUp">Mantenga actualizada la base de datos de sus empleados, controle y administre la información de
                            Clientes, Contratos, Acreditaciones y demás subprocesos relacionados.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="media animatedParent">
                    {#<div class="media-left media-middle">#}
                        {#<i class="fa fa-user-md"></i>#}
                    {#</div>#}
                    <img src="/img/calendar-512.png" class="media-image animated bounceInDown">
                    <div class="media-body">
                        <h4 class="media-heading">PROGRAMACIÓN DE TURNOS</h4>
                        <p class="animated shakeUp">Administre las programaciones de turnos de sus empleados, realice seguimientos y
                            registros de novedades a incidentes con sus clientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="media animatedParent">
                    {#<div class="media-left media-middle">#}
                        {#<i class="fa fa-stethoscope"></i>#}
                    {#</div>#}
                    <img src="/img/bank-cards-512.png" class="media-image animated bounceInDown">
                    <div class="media-body">
                        <h4 class="media-heading">CARTERA</h4>
                        <p class="animated shakeUp">Controle sus cuentas por cobrar, Anticipos, Créditos y procedimientos asociados a la
                            recolección de activos monetarios y facturación pendiente de sus clientes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="media animatedParent">
                    {#<div class="media-left media-middle">#}
                        {#<i class="fa fa-graduation-cap"></i>#}
                    {#</div>#}
                    <img src="/img/product-512.png" class="media-image animated bounceInDown">
                    <div class="media-body">
                        <h4 class="media-heading">INVENTARIO</h4>
                        <p class="animated shakeUp">Realice seguimiento, control e inspeccion de los activos fijos de la empresa,
                            realizando reportes (KARDEX) y administrando su inventario general. </p>
                    </div>
                </div>
            </div>
            {#<div class="col-md-4 col-sm-6 col-xs-12">#}
                {#<div class="media">#}
                    {#<div class="media-left media-middle">#}
                        {#<i class="fa fa-file-text-o"></i>#}
                    {#</div>#}
                    {#<div class="media-body">#}
                        {#<h4 class="media-heading">FIFTH SERVICE TITLE</h4>#}
                        {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-md-4 col-sm-6 col-xs-12">#}
                {#<div class="media">#}
                    {#<div class="media-left media-middle">#}
                        {#<i class="fa fa-heartbeat"></i>#}
                    {#</div>#}
                    {#<div class="media-body">#}
                        {#<h4 class="media-heading">SIXTH SERVICE TITLE</h4>#}
                        {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id pulvinar magna. Aenean accumsan iaculis lorem, nec sodales lectus auctor tempor.</p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</section>
{% include('Page/Seccion/logosClientes.html.twig') %}
<section>
    <!-- Container element -->
    <div class="parallax animatedParent">
        <h1 class="animated fadeInDown">Trabajo en equipo</h1>
        <h2 class="slow animated fadeInDown"><i>"Un pilar del desarollo y la calidad"</i></h2>
    </div>
</section>
