<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                <h4>¡AVANCEMOS JUNTOS!</h4>
                <p class="text" style="text-align: justify;">Es hora que tu empresa crezca internamente. Deja que SOGA encuentre la necesidad que buscas y déjanos convertirnos en la solución siempre a tu medida.</p>
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                <h4>SERVICES</h4>
                <ul class="big">
                    <li><a href="#" title="">Title One</a></li>
                    <li><a href="#" title="">Title Two</a></li>
                    <li><a href="#" title="">Title Three</a></li>
                    <li><a href="#" title="">Title Four</a></li>
                    <li><a href="#" title="">Title Five</a></li>
                    <li><a href="#" title="">Title Six</a></li>
                    <li><a href="#" title="">Title Seven</a></li>
                    <li><a href="#" title="">Title Eight</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                <h4>CONTENT</h4>
                <ul class="big">
                    <li><a href="#" title="">Title One</a></li>
                    <li><a href="#" title="">Title Two</a></li>
                    <li><a href="#" title="">Title Three</a></li>
                    <li><a href="#" title="">Title Four</a></li>
                    <li><a href="#" title="">Title Five</a></li>
                    <li><a href="#" title="">Title Six</a></li>
                    <li><a href="#" title="">Title Seven</a></li>
                    <li><a href="#" title="">Title Eight</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fbox">
                <h4>CONTACTO:</h4>
                <p class="text" style="text-align: justify;">Llámanos y te daremos la asesoría o soporte que te mereces.</p>
                <p><a href="tel:+902222222222"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +(57)(4) 322 0771</a></p>
                <p><a href="mailto:iletisim@agrisosgb.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> servicioalcliente@appsoga.com</a></p>

            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="pull-left">&copy; 2018 App Soga <img src="/img/logoGrisx200.png" style="width: 15%;" /></p>
                </div>
                <div class="col-md-8">
                    <ul class="list-inline navbar-right">
                        <li><a href="#">INICIO</a></li>
                        <li><a href="#">CLIENTE</a></li>
                        <li><a href="#">PRODUCTOS</a></li>
                        <li><a href="#">DOCUMENTACIÓN</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>