<div id="modal-inicial">
    <input type="checkbox" id="cerrar">
    <label for="cerrar" id="btn-cerrar">X</label>
    <div class="modalInicial">
        <div class="contenido">
            <h2>Visita nuestro blog</h2>
            <img src="/helio/public/img/logo.png" alt="">
        </div>
    </div>

    <main>
        <h1>Ventana modal con HTML y CSS</h1>
        <p>En este tutorial haremos que luego de unos segundos aparezca una ventana modal. No hemos utilizado ningun plugin ni Jquery. Puro HTML y CSS</p>
    </main>
</div>