.avFeaturesContainer {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.avFeaturesRapper {
    position: relative;
    width: 100%;
    height: 650px;
    perspective: 1000px;
    background: url(/helio/public/Sliders/Slider4.jpg) right top #171717 no-repeat;
    padding-right: 229px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.avFeaturesRapper h1 {
    color: #fff;
    display: block;
    text-align: center;
    padding-top: 45px;
    font-size: 38px;
    font-weight: 300;
}

.screenRap {
    width: 1519px;
    height: 450px;
    position: absolute;
    top: 100px;
    right: -81px;
    z-index: 3;
    transform: scale(0.34) rotateX(0deg) rotateZ(6deg) rotateY(-5deg) skewX(-8deg) skewY(0deg);
    -webkit-transform: scale(0.34) rotateX(0deg) rotateZ(6deg) rotateY(-5deg) skewX(-8deg) skewY(0deg);
    -moz-transform: scale(0.34) rotateX(0deg) rotateZ(6deg) rotateY(-5deg) skewX(-8deg) skewY(0deg);
}

.screenRap div {
    width: 470px;
    height: 271px;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    float: left;
    cursor: pointer;
    margin: 8px;
    text-indent: -9999px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    position: relative;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.23) 19px 19px 30px;
    left: 0;
}

.screenRap:hover div {
    animation: none !important;
}

.screenRap div:hover {
    z-index: 2;
    left: -70px !important;
    transform: scale(1.8, 1.8) !important;
}

.screenRap .avTile {
    background: url('/helio/public/img/recursohumanogen.png') no-repeat;
    background-position: center;
}

.screenRap .firewallTile {
    /*background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/firewallTile.jpg) no-repeat;*/
    background: url('/helio/public/img/programacionturnosgen.png') no-repeat;
    background-position: center;
}

.screenRap .backupTile {
    /*background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/backupTile.jpg) no-repeat;*/
    background: url('/helio/public/img/carteragen.png') no-repeat;
    background-position: center;
    animation: tileLoadScale .6s 2.2s forwards;
    -webkit-animation: tileLoadScale .6s 2.2s forwards;
    -moz-animation: tileLoadScale .6s 2.2s forwards;
}

.screenRap .vulnerabilitiesTile {
    /*background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/vulnerableTile.jpg) no-repeat;*/
    background: url('/helio/public/img/inventariogen.png') no-repeat;
    background-position: center;
}

.screenRap .spamfilterTile {
    /*background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/spamfilterTile.jpg) no-repeat;*/
    background: url('/helio/public/img/contabilidadgen.png') no-repeat;
    background-position: center;
    animation: tileLoadScale .6s 2.7s forwards;
    -webkit-animation: tileLoadScale .6s 2.7s forwards;
    -moz-animation: tileLoadScale .6s 2.7s forwards;
}

.screenRap .smpTile {
    /*background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/smpTile.jpg) no-repeat;*/
    background: url('/helio/public/img/recursohumanogen.png') no-repeat;
    background-position: center;
    animation: tileLoadScale .6s 2s forwards;
    -webkit-animation: tileLoadScale .6s 2s forwards;
    -moz-animation: tileLoadScale .6s 2s forwards;
}


/*.screenRap .tuneupTile {*/
    /*!*background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/tuneupTile.jpg) no-repeat;*!*/
    /*background: url('/helio/public/img/recursohumanogen.png') no-repeat;*/
    /*background-position: center;*/
/*}*/

/*.screenRap .idpTile {*/
    /*!*background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/idpTile.jpg) no-repeat;*!*/
    /*background: url('/helio/public/img/recursohumanogen.png') no-repeat;*/
    /*background-position: center;*/
/*}*/

/*.screenRap .parentalTile {*/
    /*!*background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/parentalTile.jpg) no-repeat;*!*/
    /*background: url('/helio/public/img/recursohumanogen.png') no-repeat;*/
    /*background-position: center;*/
    /*animation: tileLoadScale .6s 2.4s forwards;*/
    /*-webkit-animation: tileLoadScale .6s 2.4s forwards;*/
    /*-moz-animation: tileLoadScale .6s 2.4s forwards;*/
/*}*/

.feature {
    position: absolute;
    opacity: 0;
    z-index: 3;
    transition: opacity .1s ease;
    -webkit-transition: opacity .1s ease;
    -moz-transition: opacity .1s ease;
    width: 30%;
    top: 188px;
    left: 95px;
}

.feature.active {
    opacity: 1;
}

.feature h2 {
    font-size: 37px;
    padding: 12px 0 10px 72px;
    margin: 0 0 10px -120px;
    opacity: 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.feature.active h2 {
    opacity: 1;
    margin: 0 0 10px -72px;
    color: #fff;
    font-weight: 400;
}

.feature div {
    width: 0;
    opacity: 0;
    transition: width .3s ease, opacity .7s ease;
    -webkit-transition: width .3s ease, opacity .7s ease;
    -moz-transition: width .3s ease, opacity .7s ease;
}

.feature.active div {
    width: 100%;
    opacity: 1;
}

.feature div span {
    width: 100%;
    border-top: #fff solid 1px;
    height: 1px;
    display: block;
    opacity: .4;
}

.feature p {
    font-size: 15px;
    color: #fff;
    line-height: 1.8;
    padding: 32px 32px 0 0;
    opacity: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.feature.active p {
    opacity: 1;
}

.smallNotice {
    font-style: italic;
    opacity: .5;
    font-size: 11px;
}

.avFeature h2 {
    background: url('/helio/public/img/recurso-humano.png') left center no-repeat;
}

.firewallFeature h2 {
    background: url('/helio/public/img/programacion-turno.png') left center no-repeat;
}

.backupFeature h2 {
    background: url('/helio/public/img/cartera.png') left center no-repeat;
}

.vulnerabilitiesFeature h2 {
    background: url('/helio/public/img/inventario.png') left center no-repeat;
}

.spamfilterFeature h2 {
    background: url('/helio/public/img/contabilidad.png') left center no-repeat;
}

.smpFeature h2 {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/smpIcon.png) left center no-repeat;
}

/*.tuneupFeature h2 {*/
    /*background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/tuneupIcon.png) left center no-repeat;*/
/*}*/

/*.idpFeature h2 {*/
    /*background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/idpIcon.png) left center no-repeat;*/
/*}*/

/*.parentalFeature h2 {*/
    /*background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/parentalIcon.png) left center no-repeat;*/
/*}*/

.hoverIcon {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/mouseHoverIcon.png) center top no-repeat;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    bottom: 28px;
    width: 140px;
    text-align: center;
    left: 50%;
    margin-left: -192px;
    padding-top: 41px;
}

@keyframes tileLoadScale {
    0% {}
    50% {
        transform: scale(1.4, 1.4);
        left: -50px;
        z-index: 2;
    }
    /*100 {}*/
}

@-webkit-keyframes tileLoadScale {
    0% {}
    50% {
        transform: scale(1.4, 1.4);
        -webkit-transform: scale(1.4, 1.4);
        -moz-transform: scale(1.4, 1.4);
        left: -50px;
        z-index: 2;
    }
/*100 {}*/
}

@-moz-keyframes tileLoadScale {
    0% {}
    50% {
        transform: scale(1.4, 1.4);
        -moz-transform: scale(1.4, 1.4);
        -moz-transform: scale(1.4, 1.4);
        left: -50px;
        z-index: 2;
    }
/*100 {}*/
}
