.avFeaturesContainer {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.avFeaturesRapper {
    position: relative;
    width: 100%;
    height: 650px;
    perspective: 1000px;
    background: url(/helio/public/Sliders/Slider4.jpg) right top #171717 no-repeat;
    padding-right: 229px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.avFeaturesRapper h1 {
    color: #fff;
    display: block;
    text-align: center;
    padding-top: 45px;
    font-size: 38px;
    font-weight: 300;
}

.screenRap {
    width: 1519px;
    height: 623px;
    position: absolute;
    top: 142px;
    right: -81px;
    z-index: 3;
    transform: scale(0.34) rotateX(0deg) rotateZ(6deg) rotateY(-5deg) skewX(-8deg) skewY(0deg);
    -webkit-transform: scale(0.34) rotateX(0deg) rotateZ(6deg) rotateY(-5deg) skewX(-8deg) skewY(0deg);
    -moz-transform: scale(0.34) rotateX(0deg) rotateZ(6deg) rotateY(-5deg) skewX(-8deg) skewY(0deg);
}

.screenRap div {
    width: 370px;
    height: 271px;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    float: left;
    cursor: pointer;
    margin: 8px;
    text-indent: -9999px;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    position: relative;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.23) 19px 19px 30px;
    left: 0;
}

.screenRap:hover div {
    animation: none !important;
}

.screenRap div:hover {
    z-index: 2;
    left: -70px !important;
    transform: scale(1.8, 1.8) !important;
}

.screenRap .avTile {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/avTile.jpg) no-repeat;
}

.screenRap .firewallTile {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/firewallTile.jpg) no-repeat;
}

.screenRap .backupTile {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/backupTile.jpg) no-repeat;
    animation: tileLoadScale .6s 2.2s forwards;
    -webkit-animation: tileLoadScale .6s 2.2s forwards;
    -moz-animation: tileLoadScale .6s 2.2s forwards;
}

.screenRap .vulnerabilitiesTile {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/vulnerableTile.jpg) no-repeat;
}

.screenRap .spamfilterTile {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/spamfilterTile.jpg) no-repeat;
    animation: tileLoadScale .6s 2.7s forwards;
    -webkit-animation: tileLoadScale .6s 2.7s forwards;
    -moz-animation: tileLoadScale .6s 2.7s forwards;
}

.screenRap .smpTile {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/smpTile.jpg) no-repeat;
    animation: tileLoadScale .6s 2s forwards;
    -webkit-animation: tileLoadScale .6s 2s forwards;
    -moz-animation: tileLoadScale .6s 2s forwards;
}

.screenRap .tuneupTile {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/tuneupTile.jpg) no-repeat;
}

.screenRap .idpTile {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/idpTile.jpg) no-repeat;
}

.screenRap .parentalTile {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/parentalTile.jpg) no-repeat;
    animation: tileLoadScale .6s 2.4s forwards;
    -webkit-animation: tileLoadScale .6s 2.4s forwards;
    -moz-animation: tileLoadScale .6s 2.4s forwards;
}

.feature {
    position: absolute;
    opacity: 0;
    z-index: 3;
    transition: opacity .1s ease;
    -webkit-transition: opacity .1s ease;
    -moz-transition: opacity .1s ease;
    width: 30%;
    top: 188px;
    left: 95px;
}

.feature.active {
    opacity: 1;
}

.feature h2 {
    font-size: 37px;
    padding: 12px 0 10px 72px;
    margin: 0 0 10px -120px;
    opacity: 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.feature.active h2 {
    opacity: 1;
    margin: 0 0 10px -72px;
    color: #fff;
    font-weight: 400;
}

.feature div {
    width: 0;
    opacity: 0;
    transition: width .3s ease, opacity .7s ease;
    -webkit-transition: width .3s ease, opacity .7s ease;
    -moz-transition: width .3s ease, opacity .7s ease;
}

.feature.active div {
    width: 100%;
    opacity: 1;
}

.feature div span {
    width: 100%;
    border-top: #fff solid 1px;
    height: 1px;
    display: block;
    opacity: .4;
}

.feature p {
    font-size: 15px;
    color: #fff;
    line-height: 1.8;
    padding: 32px 32px 0 0;
    opacity: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.feature.active p {
    opacity: 1;
}

.smallNotice {
    font-style: italic;
    opacity: .5;
    font-size: 11px;
}

.avFeature h2 {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/avIcon.png) left center no-repeat;
}

.firewallFeature h2 {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/firewallIcon.png) left center no-repeat;
}

.backupFeature h2 {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/backupIcon.png) left center no-repeat;
}

.vulnerabilitiesFeature h2 {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/vulnerabilitiesIcon.png) left center no-repeat;
}

.spamfilterFeature h2 {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/spamfilterIcon.png) left center no-repeat;
}

.smpFeature h2 {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/smpIcon.png) left center no-repeat;
}

.tuneupFeature h2 {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/tuneupIcon.png) left center no-repeat;
}

.idpFeature h2 {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/idpIcon.png) left center no-repeat;
}

.parentalFeature h2 {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/parentalIcon.png) left center no-repeat;
}

.hoverIcon {
    background: url(http://bullguard.com/marketingfiles/ext/umbracoLanding/demo/images/featureslist/mouseHoverIcon.png) center top no-repeat;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    bottom: 28px;
    width: 140px;
    text-align: center;
    left: 50%;
    margin-left: -192px;
    padding-top: 41px;
}

@keyframes tileLoadScale {
    0% {}
    50% {
        transform: scale(1.4, 1.4);
        left: -50px;
        z-index: 2;
    }
    /*100 {}*/
}

@-webkit-keyframes tileLoadScale {
    0% {}
    50% {
        transform: scale(1.4, 1.4);
        -webkit-transform: scale(1.4, 1.4);
        -moz-transform: scale(1.4, 1.4);
        left: -50px;
        z-index: 2;
    }
/*100 {}*/
}

@-moz-keyframes tileLoadScale {
    0% {}
    50% {
        transform: scale(1.4, 1.4);
        -moz-transform: scale(1.4, 1.4);
        -moz-transform: scale(1.4, 1.4);
        left: -50px;
        z-index: 2;
    }
/*100 {}*/
}

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700,700italic);*/
/*@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto);*/

/*h1,*/
/*h2,*/
/*h3,*/
/*h4,*/
/*h5 {*/
    /*margin: 0;*/
    /*padding: 0*/
/*}*/
/*@font-face {*/
    /*font-family: "icons";*/
    /*src: url(../fonts/icons.woff) format("woff");*/
    /*src: url(../fonts/icons.svg) format("svg");*/
    /*src: url(../fonts/icons.eot) format("eot");*/
    /*src: url(../fonts/icons.eot) format("embedded-opentype");*/
    /*src: url(../fonts/icons.ttf) format("truetype")*/
/*}*/
/*@font-face {*/
    /*font-family: "PragmaticaSlab";*/
    /*src: url(../fonts/PragmaticaSlab-Medium.woff) format("woff");*/
    /*src: url(../fonts/PragmaticaSlab-Medium.svg) format("svg");*/
    /*src: url(../fonts/PragmaticaSlab-Medium.eot) format("eot");*/
    /*src: url(../fonts/PragmaticaSlab-Mediumns.eot) format("embedded-opentype");*/
    /*src: url(../fonts/PragmaticaSlab-Medium.ttf) format("truetype")*/
/*}*/
/*html {*/
    /*display: block;*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100%*/
/*}*/
/*body {*/
    /*display: block;*/
    /*position: relative;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow-x: hidden;*/
    /*min-height: 100vh;*/
    /*background-color: #fff;*/
    /*color: #000;*/
    /*font-family: "Open Sans";*/
    /*font-size: 8px;*/
    /*line-height: 14px;*/
    /*-webkit-font-feature-settings: 'kern' 1;*/
    /*-o-font-feature-settings: 'kern' 1;*/
    /*text-rendering: geometricPrecision;*/
    /*-webkit-font-smoothing: antialiased*/
/*}*/
/*header,*/
/*section,*/
/*footer {*/
    /*display: block;*/
    /*position: relative;*/
    /*min-width: 880px*/
/*}*/
/*header .box,*/
/*section .box,*/
/*footer .box {*/
    /*display: block;*/
    /*position: relative;*/
    /*width: 860px;*/
    /*min-width: 860px;*/
    /*margin: 0 auto*/
/*}*/
/*@media all and (max-width: 860px) {*/
    /*header,*/
    /*section,*/
    /*footer {*/
        /*width: 100% !important;*/
        /*min-width: 600px !important*/
    /*}*/
    /*header .box,*/
    /*section .box,*/
    /*footer .box {*/
        /*width: 100% !important;*/
        /*min-width: 600px !important;*/
        /*padding: 1em !important*/
    /*}*/
/*}*/
/*.animated {*/
    /*-webkit-animation-duration: 1.5s;*/
    /*animation-duration: 2.5s;*/
    /*-webkit-animation-fill-mode: both;*/
    /*animation-fill-mode: both*/
/*}*/
/*@-webkit-keyframes fadeIn {*/
    /*from {*/
        /*opacity: 0*/
    /*}*/
    /*to {*/
        /*opacity: 1*/
    /*}*/
/*}*/
/*@keyframes fadeIn {*/
    /*from {*/
        /*opacity: 0*/
    /*}*/
    /*to {*/
        /*opacity: 1*/
    /*}*/
/*}*/
/*.fadeIn {*/
    /*-webkit-animation-name: fadeIn;*/
    /*animation-name: fadeIn*/
/*}*/
/*#features {*/
    /*text-align: center*/
/*}*/
/*#features .features-title {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*color: #404040;*/
    /*font-size: 32px;*/
    /*font-family: "Roboto";*/
    /*font-weight: 400;*/
    /*line-height: 46px;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 3px;*/
    /*margin: 1em 0*/
/*}*/
/*#features .features-title::after {*/
    /*display: block;*/
    /*position: absolute;*/
    /*bottom: -.2em;*/
    /*left: 50%;*/
    /*margin-left: -40px;*/
    /*content: "";*/
    /*width: 80px;*/
    /*height: 3px;*/
    /*background-color: #00BFF3;*/
/*}*/
/*#features .features-content {*/
    /*display: flex;*/
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*align-items: center;*/
    /*padding-bottom: 5em;*/
    /*margin-bottom: 5em;*/
    /*border-bottom: 2px solid #e5f7fb*/
/*}*/
/*#features .features-content+.features-content {*/
    /*border: 0*/
/*}*/
/*#features .features-content-col {*/
    /*width: 50%;*/
    /*text-align: left*/
/*}*/
/*#features .features-textblock {*/
    /*display: none;*/
    /*position: relative*/
/*}*/
/*#features .features-textblock.__active {*/
    /*display: block*/
/*}*/
/*#features .features-textblock h1,*/
/*#features .features-textblock h2,*/
/*#features .features-textblock h3,*/
/*#features .features-textblock h4,*/
/*#features .features-textblock h5 {*/
    /*color: #404040;*/
    /*font-family: "Open Sans";*/
    /*font-weight: 900;*/
    /*padding: 0;*/
    /*font-size: 1.5em*/
/*}*/
/*#features .features-textblock p {*/
    /*color: #404040;*/
    /*font-family: "Open Sans";*/
    /*font-size: 12px;*/
    /*font-weight: 300;*/
    /*line-height: 1.7em*/
/*}*/
/*#features .features-textblock ul {*/
    /*margin: 0;*/
    /*padding: 0 2em;*/
    /*list-style: none*/
/*}*/
/*#features .features-textblock ul li {*/
    /*position: relative;*/
    /*list-style: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*text-indent: -5px;*/
    /*color: #404040;*/
    /*font-family: "Open Sans";*/
    /*font-size: 12px;*/
    /*font-weight: 300;*/
    /*line-height: 1.7em;*/
    /*padding: 0.7em 0*/
/*}*/
/*#features .features-textblock ul li:before {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*top: -1px;*/
    /*left: -11px;*/
    /*content: '';*/
    /*width: 5px;*/
    /*height: 5px;*/
    /*background-color: #00b0de;*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*-ms-border-radius: 50%;*/
    /*border-radius: 50%*/
/*}*/
/*#features .features-graph {*/
    /*height: 425px;*/
    /*margin: 25px*/
/*}*/
/*#features .features-graph .button-holder {*/
    /*display: flex;*/
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*justify-content: center;*/
    /*-webkit-justify-content: center;*/
    /*align-items: center*/
/*}*/
/*#features .features-graph .animation-holder {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center*/
/*}*/
/*#features .features-graph .flash-oval {*/
    /*background-color: #00bff3;*/
    /*width: 12em;*/
    /*height: 12em;*/
    /*border-radius: 7em;*/
    /*-webkit-transform: translateX(1px);*/
    /*-ms-transform: translateX(1px);*/
    /*transform: translateX(1px);*/
    /*z-index: 100;*/
    /*margin: 10em auto 9em auto*/
/*}*/
/*#features .features-graph .flash-oval img {*/
    /*position: absolute;*/
    /*right: 32px;*/
    /*top: 23px;*/
/*}*/
/*#features .features-graph .btn-with-icon {*/
    /*display: block;*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*background-color: #fff;*/
    /*border: 1px solid #9df;*/
    /*-webkit-border-radius: 10px;*/
    /*-moz-border-radius: 10px;*/
    /*-ms-border-radius: 10px;*/
    /*border-radius: 10px;*/
    /*transition-duration: 0.3s;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*line-height: 5em;*/
    /*z-index: 0;*/
    /*cursor: pointer;*/
    /*margin-left: 8%;*/
    /*margin-right: 8%;*/
    /*text-align: center;*/
    /*opacity: 0.5;*/
    /*filter: alpha(opacity=50)*/
/*}*/
/*#features .features-graph .btn-with-icon.__active {*/
    /*opacity: 1;*/
    /*filter: alpha(opacity=100)*/
/*}*/
/*#features .features-graph .btn-with-icon:hover {*/
    /*opacity: 1*/
/*}*/
/*#features .features-graph .sq-bt-label {*/
    /*letter-spacing: 0;*/
    /*color: #656b6f;*/
    /*font-size: 11px;*/
    /*font-weight: 400;*/
    /*line-height: 16px;*/
    /*position: absolute;*/
    /*text-transform: uppercase*/
/*}*/
/*#features .features-graph .label-top-left {*/
    /*right: 36%;*/
    /*top: 33%;*/
/*}*/
/*#features .features-graph .label-top {*/
    /*right: 21.3%;*/
    /*top: 33%*/
/*}*/
/*#features .features-graph .label-top-right {*/
    /*right: 6.7%;*/
    /*top: 33%*/
/*}*/
/*#features .features-graph .label-bottom-left {*/
    /*right: 36.3%;*/
    /*bottom: 13%;*/
/*}*/
/*#features .features-graph .label-bottom {*/
    /*right: 21.4%;*/
    /*bottom: 13%;*/
/*}*/
/*#features .features-graph .label-bottom-right {*/
    /*right: 6.6%;*/
    /*bottom: 13%;*/
/*}*/
/*#features .features-graph .icon-features-1:after {*/
    /*content: ' ';*/
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/top-left.svg);*/
    /*background-size: 100%;*/
    /*height: 110px;*/
    /*width: 85px;*/
    /*background-repeat: no-repeat;*/
    /*position: absolute;*/
    /*top: 36.4%*/
/*}*/
/*#features .features-graph .icon-features-2:after {*/
    /*content: ' ';*/
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/top.svg);*/
    /*height: 110px;*/
    /*width: 85px;*/
    /*background-repeat: no-repeat;*/
    /*position: absolute;*/
    /*top: 36.4%*/
/*}*/
/*#features .features-graph .icon-features-3:after {*/
    /*content: ' ';*/
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/top-right.svg);*/
    /*background-size: 100%;*/
    /*height: 110px;*/
    /*width: 85px;*/
    /*background-repeat: no-repeat;*/
    /*position: absolute;*/
    /*top: 36.4%;*/
    /*right: 10%*/
/*}*/
/*#features .features-graph .icon-features-4:after {*/
    /*content: ' ';*/
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/bottom-left.svg);*/
    /*background-size: 100%;*/
    /*height: 110px;*/
    /*width: 85px;*/
    /*background-repeat: no-repeat;*/
    /*position: absolute;*/
    /*bottom: 26%*/
/*}*/
/*#features .features-graph .icon-features-5:after {*/
    /*content: ' ';*/
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/bottom.svg);*/
    /*height: 110px;*/
    /*width: 85px;*/
    /*background-repeat: no-repeat;*/
    /*position: absolute;*/
    /*bottom: 23%*/
/*}*/
/*#features .features-graph .icon-features-6:after {*/
    /*content: ' ';*/
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/bottom-right.svg);*/
    /*background-size: 100%;*/
    /*height: 110px;*/
    /*width: 85px;*/
    /*background-repeat: no-repeat;*/
    /*position: absolute;*/
    /*bottom: 26%;*/
    /*right: 10%*/
/*}*/
/*#features .features-graph #top-left-line {*/
    /*position: absolute;*/
    /*top: 170px;*/
    /*left: 50px;*/
    /*z-index: -4*/
/*}*/
/*#features .features-graph .icon-features-1 {*/
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-1.svg);*/
    /*background-size: 150%;*/
    /*background-position: 50% 0*/
/*}*/
/*#features .features-graph .icon-features-2 {*/
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-2.svg);*/
    /*background-size: 70%;*/
    /*background-position: 50% 50%*/
/*}*/
/*#features .features-graph .icon-features-3 {*/
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-3.svg);*/
    /*background-size: 65%*/
/*}*/
/*#features .features-graph .icon-features-4 {*/
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-4.svg);*/
    /*background-size: 150%;*/
    /*background-position: 50% 0*/
/*}*/
/*#features .features-graph .icon-features-5 {*/
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-5.svg);*/
    /*background-size: 150%*/
/*}*/
/*#features .features-graph .icon-features-6 {*/
    /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/598117/icon-6.svg);*/
    /*background-size: 65%;*/
    /*background-position: 50% 50%*/
/*}*/
/*#features .features-graph .wave {*/
    /*position: absolute;*/
    /*opacity: 0;*/
    /*width: 12em;*/
    /*height: 12em;*/
    /*border: #56a9e8 1px solid;*/
    /*border-radius: 7em;*/
    /*-webkit-animation-name: ripple;*/
    /*animation-name: ripple;*/
    /*-webkit-animation-duration: 2s;*/
    /*animation-duration: 2s;*/
    /*-webkit-animation-iteration-count: linear;*/
    /*animation-iteration-count: linear;*/
    /*text-align: center;*/
    /*top: 0*/
/*}*/
/*#features .features-graph .wave2 {*/
    /*position: absolute;*/
    /*opacity: 0;*/
    /*width: 12em;*/
    /*height: 12em;*/
    /*border: #56a9e8 1px solid;*/
    /*border-radius: 7em;*/
    /*-webkit-animation-name: ripple2;*/
    /*animation-name: ripple2;*/
    /*-webkit-animation-duration: 2s;*/
    /*animation-duration: 2s;*/
    /*-webkit-animation-iteration-count: linear;*/
    /*animation-iteration-count: linear;*/
    /*top: 0;*/
    /*text-align: center*/
/*}*/
/*#features .features-graph .wave3 {*/
    /*position: absolute;*/
    /*opacity: 0;*/
    /*width: 12em;*/
    /*height: 12em;*/
    /*border: #56a9e8 1px solid;*/
    /*border-radius: 7em;*/
    /*-webkit-animation-name: ripple3;*/
    /*animation-name: ripple3;*/
    /*-webkit-animation-duration: 2s;*/
    /*animation-duration: 2s;*/
    /*-webkit-animation-iteration-count: linear;*/
    /*animation-iteration-count: linear;*/
    /*text-align: center;*/
    /*top: 0*/
/*}*/
/*#features .features-graph .wave4 {*/
    /*position: absolute;*/
    /*opacity: 0;*/
    /*width: 12em;*/
    /*height: 12em;*/
    /*border: #56a9e8 1px solid;*/
    /*border-radius: 7em;*/
    /*-webkit-animation-name: ripple4;*/
    /*animation-name: ripple4;*/
    /*-webkit-animation-duration: 2s;*/
    /*animation-duration: 2s;*/
    /*-webkit-animation-iteration-count: linear;*/
    /*animation-iteration-count: linear;*/
    /*text-align: center;*/
    /*top: 0*/
/*}*/
/*@-webkit-keyframes ripple {*/
    /*from {*/
        /*opacity: 0.8*/
    /*}*/
    /*to {*/
        /*-webkit-transform: scale(1.2);*/
        /*transform: scale(1.2);*/
        /*opacity: 0*/
    /*}*/
/*}*/
/*@keyframes ripple {*/
    /*from {*/
        /*opacity: 0.8*/
    /*}*/
    /*to {*/
        /*-webkit-transform: scale(1.2);*/
        /*transform: scale(1.2);*/
        /*opacity: 0*/
    /*}*/
/*}*/
/*@-webkit-keyframes ripple2 {*/
    /*from {*/
        /*opacity: 0.7*/
    /*}*/
    /*to {*/
        /*-webkit-transform: scale(1.5);*/
        /*transform: scale(1.5);*/
        /*opacity: 0*/
    /*}*/
/*}*/
/*@keyframes ripple2 {*/
    /*from {*/
        /*opacity: 0.7*/
    /*}*/
    /*to {*/
        /*-webkit-transform: scale(1.5);*/
        /*transform: scale(1.5);*/
        /*opacity: 0*/
    /*}*/
/*}*/
/*@-webkit-keyframes ripple3 {*/
    /*from {*/
        /*opacity: 0.7*/
    /*}*/
    /*to {*/
        /*-webkit-transform: scale(2);*/
        /*transform: scale(2);*/
        /*opacity: 0*/
    /*}*/
/*}*/
/*@keyframes ripple3 {*/
    /*from {*/
        /*opacity: 0.7*/
    /*}*/
    /*to {*/
        /*-webkit-transform: scale(2);*/
        /*transform: scale(2);*/
        /*opacity: 0*/
    /*}*/
/*}*/
/*@-webkit-keyframes ripple4 {*/
    /*from {*/
        /*opacity: 0.6*/
    /*}*/
    /*to {*/
        /*-webkit-transform: scale(2.5);*/
        /*transform: scale(2.5);*/
        /*opacity: 0*/
    /*}*/
/*}*/
/*@keyframes ripple4 {*/
    /*from {*/
        /*opacity: 0.4*/
    /*}*/
    /*to {*/
        /*-webkit-transform: scale(2.5);*/
        /*transform: scale(2.5);*/
        /*opacity: 0*/
    /*}*/
/*}*/
/*#features .features-items {*/
    /*display: flex;*/
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*flex-flow: row wrap;*/
    /*list-style: none;*/
    /*margin: 0;*/
    /*padding: 0*/
/*}*/
/*#features .features-items li {*/
    /*list-style: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*width: 50%;*/
    /*text-align: left;*/
    /*padding: 20px 50px 20px 20px*/
/*}*/

/*.hidden {display:none;}*/
/*.visible {display:block;}*/

/*#features .features-textblock p {*/
    /*color: #404040;*/
    /*font-family: "Open Sans";*/
    /*font-size: 12px;*/
    /*font-weight: 300;*/
    /*line-height: 1.7em*/
/*}*/
/*#features .features-textblock ul {*/
    /*margin: 0;*/
    /*padding: 0 2em;*/
    /*list-style: none*/
/*}*/
/*#features .features-textblock ul li {*/
    /*position: relative;*/
    /*list-style: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*text-indent: -5px;*/
    /*color: #404040;*/
    /*font-family: "Open Sans";*/
    /*font-size: 12px;*/
    /*font-weight: 300;*/
    /*line-height: 1.7em;*/
    /*padding: 0.7em 0*/
/*}*/
/*#features .features-textblock ul li:before {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*top: -1px;*/
    /*left: -11px;*/
    /*content: '';*/
    /*width: 5px;*/
    /*height: 5px;*/
    /*background-color: #00b0de;*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*-ms-border-radius: 50%;*/
    /*border-radius: 50%*/
/*}*/
/*#features .features-graph {*/
    /*height: 425px;*/
    /*margin: 25px*/
/*}*/
/*#features .features-graph .button-holder {*/
    /*display: flex;*/
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*justify-content: center;*/
    /*-webkit-justify-content: center;*/
    /*align-items: center*/
/*}*/
/*#features .features-graph .animation-holder {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center*/
/*}*/
/*#features .features-graph .flash-oval {*/
    /*background-color: #00bff3;*/
    /*width: 12em;*/
    /*height: 12em;*/
    /*border-radius: 7em;*/
    /*-webkit-transform: translateX(1px);*/
    /*-ms-transform: translateX(1px);*/
    /*transform: translateX(1px);*/
    /*z-index: 100;*/
    /*margin: 10em auto 9em auto*/
/*}*/
/*#features .features-graph .flash-oval img {*/
    /*position: absolute;*/
    /*right: 33px;*/
    /*top: 25px;*/
/*}*/